body {
  font-family: Effra, "sans-serif";
  padding: 130px 0px 80px 0px;
}

.block-margin {
  margin: 40px 0px;
}

input,
button,
.form-control {
  padding: 10px;
  min-height: 50px;
  display: inline-block;
}

.btn {
  padding: 11px;
}

.jumbotron {
  padding: 40px;
}