@font-face {
  font-family: Effra;
  src: url("../../assets/fonts/effra_std_bd-webfont.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  src: url("../../assets/fonts/effra-medium-webfont.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  src: url("../../assets/fonts/effra_std_rg-webfont.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DomaineSans;
  src: url("../../assets/fonts/DomaineSansDisplay-Regular.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DomaineSans;
  src: url("../../assets/fonts/DomaineSansText-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DomaineSans;
  src: url("../../assets/fonts/DomaineSansText-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DomaineSans;
  src: url("../../assets/fonts/DomaineSansText-Bold.woff") format('woff');
  font-weight: 600;
  font-style: bold;
}